git:
  depth: 10

language: go

matrix:
  include:
    - go: 1.13.x
      sudo: false
      env: LINTER=true
    - go: 1.13.x
      sudo: required
      services: docker
      env: TESTS=true

install:
  - go mod tidy
  - go mod vendor

before_script:
  - if [ "$LINTER" = true ]; then curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $GOPATH/bin v1.23.1; fi

script:
  - if [ "$LINTER" = true ]; then golangci-lint version && golangci-lint run; fi
  - if [ "$TESTS" = true ]; then make -C test/e2e run; fi